<!-- Polyfill(s) for older browsers -->
<script src="~/node_modules/core-js/client/shim.min.js"></script>
<script src="~/node_modules/zone.js/dist/zone.js"></script>
<script src="~/node_modules/systemjs/dist/system.src.js"></script>
<script src="~/systemjs.config.js"></script>
<script>
        System.import('/app/main.js').catch(function (err) { console.error(err); });
</script>
<script type="text/javascript">

        // MEDWAY MODULE settings
        //var common.constant('settings', {
            //apiUri: '/api',
            @*apiUri: '@WebConfigurationManager.AppSettings["ApiUri"]',*@
            @*isDebug: '@HttpContext.Current.IsDebuggingEnabled' === 'True',
            api: '@WebConfigurationManager.AppSettings["Api"]',
            domain: '@WebConfigurationManager.AppSettings["Domain"]',
            useSSL: @WebConfigurationManager.AppSettings["UseSSL"],*@
        //});

</script>

<lynex-app>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</lynex-app>
